<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSH Checkout</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header class="checkout-header">
      <div class="container d-flex flex-row justify-content-between align-items-center">
        <a href="" class="brand">
          <img  class="brand-logo" src="{{ url_for('static', filename='img/SEMPARAR_ASSETS-13.png')}}" alt="Logo Sem Parar" >
        </a>
        <h1>Checkout 2.0 web</h1>
        <nav class="navbar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.checkout') }}">Checkout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.dashboard') }}">Dashboard</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container mt-5">
      <h2>Painel de Checkout via SSH</h2>

      <form method="POST">
          <input type="text" name="ip" placeholder="IP" required><br>
          <input type="text" name="usuario" placeholder="Usuário" required><br>
          <input type="password" name="senha" placeholder="Senha" required><br>
          <input type="text" name="comando" placeholder="Comando" required><br>
          <button type="submit">Executar</button>
      </form>
    </div>

    {% if resultado %}
        <h3>Resultado:</h3>
        <pre>{{ resultado }}</pre>
    {% endif %}



    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>
